@import url('https://fonts.googleapis.com/css?family=Comfortaa%7CRighteous');

body {
  background: url(https://cutewallpaper.org/28/designer-wallpaper-black-leopard-spots/747227874.jpg);
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  background: rgb(8, 4, 0);
  margin:0;
  margin-bottom: .5em;
  padding: 1em;
  text-align: center;
}

a {
  color: rgb(6, 4, 1);
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(168, 168, 165);
  font-size: 1.5em;
  background: rgba(30, 51, 243, 0.9);
}

a:hover {
  color: ghostwhite;
}

li {
  list-style: none;
}

li a {
  color: rgb(243, 244, 247);
}

input[type=text] {
  padding: .3em;
}
nav a {
  margin-right: 10%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
p{
    padding: .25em;
    background-color: rgba(255, 255, 255, 0.8);
}
input[type=submit] {
    padding: .3em;
    color: rgb(29, 9, 213);
    background: rgb(82, 87, 87);
    font-size: 1.5em;
    border-radius: 0%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

